/* AUTH PAGES */

section {
  filter: blur(0px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.loginBackground {
  background-image: url('/images/background-main-page.jpeg');
  height: 100vh;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  position: fixed;
  width: 100vw;
  height: 100vh;
  filter: opacity(30%);
}

.auth-container {
  filter: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 300px;
  width: 250px;
  border-radius: 4px;
  background-color: white;
}

    .auth-title {
      font-size: 30px;
      flex: 1;
      width: 100%;
      text-align: center;
    }
    .auth-form {
      flex: 5;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-bottom: 30px;
      width: 80%;
      margin: 0 auto;
    }
        .auth-form label {
          margin-bottom: 5px;
        }
        .auth-form input {
          border: none;
          background-color: rgba(175,225,241,.5);
          width: 100%;
          margin: 0 auto;
        }
            .auth-form.login label {
              font-size: 20px;
            }
            .auth-form.login input {
              height: 30px;
              margin-bottom: 15px;
            }
            .auth-form.signup label {
              font-size: 15px;
            }
            .auth-form.signup input {
              height: 15px;
              margin-bottom: 10px;
            }

        .auth-form-buttons {
          display: flex;
          justify-content: center;
        }

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 150px;
  color: white;
  background-color: rgb(49,122,145);
}

    .header-identity {
      display: flex;
      height: 100%;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 15px;
    }
        .header-left {
          padding-left: 10px;
        }
            .header-title {
              font-size: 36px;
            }
        
        .header-right {
          padding-right: 10px;
          display: flex;
          flex-direction: column;
          text-align: right;
        }
            .header-username {
              font-size: 23px;
            }
            .header-logout {
              color: rgb(200,200,200);
              font-size: 15px;
            }
                .header-logout:hover {
                  color: white;
                  cursor: pointer;
                }

    .header-nav {
      display: flex;
      height: 80px;
      align-items: center;
      justify-content: space-around;
      background-color: rgb(22,87,107);
    }
        .navLink {
          text-decoration: none;
          font-size: 18px;
          color: rgb(200,200,200);
        }
            .navLink:hover {
              color: white;
              cursor: pointer;
            }

/* SEARCH FORM */

.searchView {
  display: flex;
  justify-content: center;
}

    .searchForm {
      width: 85%;
      margin: 30px;
      padding: 15px;
      background-color: rgb(240,240,240);
      border: solid 1px #979797;
    }

        .searchTitle {
          font-size: 25px;
          margin-bottom: 20px;
          flex: 1;
        }

    .divSearchBar {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
        .divSearchBar label {
          margin-bottom: 5px;
          padding-left: 15px;
        }
        .divSearchBar input {
          border: none;
          border-radius: 3px;
          background-color: rgb(53,122,144);
          color: white;
          padding-left: 10px;
          width: 85%;
          height: 30px;
          margin-bottom: 10px;
          font-size: 15px;
        }
        .select-values {
          padding-left: 10px;
          margin-left: 10px;
          width: 86%;
          height: 30px;
          border: none;
          background-color: rgb(53,122,144);
          color: white;
          margin-left: 10px;
          font-size: 15px;
        }
        
    .submitButtonDiv {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .submitButton {
          font-size: 15px;
          margin-top: 20px;
        }

/********************************************** Saved Data Table *************************************/

.viewSavedData{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  width: 100%;
}

#myTable {
  width: 85%;
}

img {
  width: 1.5em;
  height: 1.5em;
}

table {
  border-collapse: collapse;
  width: 70%;
  box-sizing: border-box;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

tr, th, td {
  text-align: center;
}

.saveRow {
  border-bottom: 4px solid white;
}

.delete:hover {
  background-color: #E63946;
  cursor: default;
  color: white;
  cursor: pointer;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
  border-bottom: 4px solid white;
}

th[role=columnheader]:not(.no-sort):after {
  content: '';
  margin-top: .8em;
  float: right;
  border-width: 0 .5em .5em;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: .5em .5em 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}

th {
  background: rgb(22,87,107);
  color: white;
  font-size: 15px;
  padding: 10px;
}

td {
  background: rgb(230,230,230);
  padding: 10px;
  font-size: 13px;
}

/* SEARCH RESULTS */

.viewResults {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

    .resultBox {
      padding: 12px;
      width: 70%;
      min-height: 400px;
      height: auto;
      margin-bottom: 2%;
      border-radius: 8px;
      background-color: rgb(250,250,250);
      box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.5);
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

        .resultsHead {
          box-shadow: inset 0 0px 0 white, inset 0 -5px 0 black;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 22px;
          text-align: center;
          height: 50px;
        }
        
        .resultsTable {
          margin: 5px;
        }
            .resultsTable>img {
              height: 20px;
              width: 20px;
            }
            .saveJob:hover {
              cursor: pointer;
            }
            
        .resultDescription {
        }
            .descAPI {
              width: 80%;
              padding: 15px;
              border-radius: 4px;
              background-color: rgb(210,210,210);
              margin: 0 auto;
              position: relative;
            }
            
                .shortDescription {
                  max-height: 140px;
                  overflow: hidden;
                  cursor: pointer;
                  text-overflow: ellipsis;
                }

                .longDescription {
                  height: 100%;
                  overflow: auto;
                  cursor: pointer;
                }
            
                .seeDesc{
                  text-decoration: none;
                  z-index: 2;
                  background: -webkit-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Safari 5.1 to 6.0 */
                  background: -o-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Opera 11.1 to 12.0 */
                  background: -moz-linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* For Firefox 3.6 to 15 */
                  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)); /* Standard syntax */
                  position: absolute;
                  bottom: 0px;
                  left: 0px;
                  width: 100%;
                  height: 40px;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-end;
                  align-items: center;
                  border-radius: 5px;
                  font-size: 20px;
                }
                    .seeDesc:hover{
                      cursor: pointer;
                    }


/********************************************** Create Page *************************************/

.createForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  background: #EAEFF6;
}

.createForm div {
  padding: 2%;
}

.jobInformation {
  display: flex;
  flex-direction: column;
}

.contactInformation {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: 100%;
}

.jobsContinued {
  margin-top:  7%;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  height: 100%;
}

.makejob {
  height: 100vh;
}

label {
  font-size: 1em;
}

h3 {
  font-size: 2em;
}

.createInput {
  width: 100%;
  height: 2vh;
  margin: 1em;
  border: none;
  padding: 5px;
  border-radius: 4px;
}

.createSelect {
  width: 100%;
  height: 3vh;
  margin-top: 2%;
  margin-left: 5%;
}

.submitButtonCreate {
  width: 50%;
  height: 35%;
  font-size: 100%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
}

.divSubmitButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesCreate {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-left: 5%;
}

/********************************************** View One Page *************************************/


.oneJobView {
  margin-top: 2%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.ViewOne {
  padding: 1%;
  display: flex;
  align-items: left;
  flex-direction: column;
  border-bottom: 10%;
  width: 55%;
  height: 20%;
  margin-bottom: 2%;
  border-radius: 8px;
  background-color: #eeede3;
  box-shadow: 2px 2px 30px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #000000;
}

.ViewOne div {
  padding: .5%;
}

.ViewOne button {
  margin-top: 1%;
  margin-bottom: 2%;
}

.viewOneButtons {
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}

.resultsData {
  margin-left: 2%;
  width: 90%;
}

.link {
  margin-left: 2%;
  text-decoration: none;
}


.ViewOne input {
  width: 100%;
}


.note {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 99%;
  padding: 10px 0;
}

.bigContainerJobInfo {
  width: 97%;
}

.boxViewOne {
  display: flex;
  flex-direction: column;
  width: 99%;
  padding: 10px 0;
}

.boxInlineViewOne {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 10px 0;
}

.boxInlineViewOne input {
  width: auto;
}

.viewOneButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}

.submitButtonEdit{
  margin: 15px 0;
  width: 120px;
  height: 35%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
}

.lastEdited {
  font-size: 14px;
  color: grey;
  text-align: right;
  font-style: italic;
  width: 100%;
  margin: 0 -12px;
}

.submitButtonSave {
  margin: 15px 0;
  width: 120px;
  height: 35%;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), inset 0 2px 0 0 #ffffff;
  border: solid 1px #979797;
}

.divSubmitButtonSave {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
