body {
  margin: 0;
  padding: 0;
  background-color: rgb(230,230,230);
  font-family: 'Barlow', sans-serif;
}

h1 {
  margin: 10px 0 0 0;
  font-family: 'Abril Fatface', cursive;
}

input {
  font-size: 20px;
}

input:focus {
  outline: none;
}
button:focus {
  outline: none;
}

.button {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  background-color: grey;
  color: white;
}

.button:hover {
  background-color: black;
  color: white;
}